extends layout
block content
  header
    #headerCenter
      h1 Koty rasowe ^._.^
      nav
        ul
          li
            a(href='/') Strona Główna
          li
            a(href='/spis') Spis kotów
          li
            a(href='/formularz') Dodaj rasę


//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
